.PresentationWrapper {
    flex: 0 1 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #160C28;
  
  }
  
  .PresentationWrapper p {
    font-size: 20px;
    line-height: 1.6;
    color: #000411;
    margin: 0 30px;
  }
  