@import '../../variables';
.menuWrapper {
    flex: 0 0 62%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-background;
  }
  
  .menuWrapper ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menuWrapper li {
    margin: 20px 0;
    text-align: left;
  }
  
  .menuWrapper a {
    text-decoration: none;
    color: $color-text; 
    font-size: calc(12px + (135 - 12) * ((100vw - 375px) / (1440 - 375)));
    transition: color 0.3s ease;
  }
  
  .menuWrapper a:hover {
    color: $color-hover;
  }
  