@import '../../variables';

.directoryWrapper {
  display: flex;
  height: 100vh;
  background-color: $color-background;
}

.project-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
  gap: 1.5rem;
}

.project-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none; /* ex : $color-dark*/ 
  border-radius: 10px;
  border-color: $color-text;
  overflow: hidden;
  transition: background-color 0.3s ease, filter 0.3s ease; /* Ajout de filter ici */
  cursor: pointer;
  height: 200px; /* Ajustement de la hauteur pour les cartes */
  filter: grayscale(100%); /* Filtre appliqué à toute la carte */
  text-decoration: none;

  &:hover {
    background-color: $color-hover; 
    filter: grayscale(0%); 

  }

  .project-image {
    flex: 1;
    height: 100%;
    background-size: cover; /* Rempli tout le conteneur en background */
    background-position: center;
    transform: scale(1.2); /* Ajout du dézoom permanent */
    transition: transform 0.3s ease;
  }

  .project-info {
    flex: 2;
    padding: 1rem;
    text-align: center;
    color: $color-text;
    text-decoration: none;
    
    h3 {
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      font-size: 1rem;
      margin: 0; 
      text-decoration: none;
    }

  }
}

.project-card:hover {
  cursor: pointer;
}
