// _variables.scss

$color-background:#160C28;
$color-hover: #AEB7B3;
$color-text: #EFCB68;
$color-dark: #000411;

// Honeydew #E1EFE6
// Yellow #EFCB68
// Dark Purple #160C28  


@font-face {
    font-family: 'MEQANOR';
    src: url('../src/assets/fonts/MEQANOR.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Milky';
    src: url('../src/assets/fonts/MilkyVintage.ttf') format('opentype');
    font-weight: 400;
    font-style: regular;
  }
  // Variable pour utiliser la police dans tout le projet
  $font-primary: 'Milky', sans-serif;

