// _variables.scss

$color-background:#B1B5C8;
$color-hover: #FEFFBE;
$color-text: #503F47;
$color-dark: #000411;



  
  @font-face {
    font-family: 'CaviarDreams';
    src: url('../src/assets/fonts/CaviarDreams.ttf') format('opentype');
    font-weight: 400;
    font-style: sans-serif;
  }

  @font-face {
    font-family: 'NewYork';
    src: url('../src/assets/fonts/NewYork.otf') format('opentype');
    font-weight: 400;
    font-style: sans-serif;
  }
  // Variable pour utiliser la police dans tout le projet
  $font-primary: 'NewYork', sans-serif;
  $font-secondary: 'CaviarDreams', sans-serif;



