// _variables.scss

$color-background:#160C28;
$color-hover: #AEB7B3;
$color-text: #EFCB68;
$color-dark: #000411;

// Honeydew #E1EFE6
// Yellow #EFCB68
// Dark Purple #160C28  


  
  @font-face {
    font-family: 'CaviarDreams';
    src: url('../src/assets/fonts/CaviarDreams.ttf') format('opentype');
    font-weight: 400;
    font-style: sans-serif;
  }

  @font-face {
    font-family: 'NewYork';
    src: url('../src/assets/fonts/NewYork.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  // Variable pour utiliser la police dans tout le projet
  $font-primary: 'NewYork', sans-serif;
  $font-secondary: 'CaviarDreams', sans-serif;



